= form_for @dish do |f|
  - if @dish.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dish.errors.count, "error")} prohibited this dish from being saved:"
      %ul
        - @dish.errors.full_messages.each do |message|
          %li= message

  %h3 My Receipes
  %br/
  = f.hidden_field :user_id, value: current_user.id
  .control-group
    %label.control-label Receipe Title
    .controls
      = f.text_area :title
    %label.control-label Category
    .controls
      = f.collection_select :category_ids, Category.all, :id, :name, {include_blank: t(:others)}, { multiple: true, class: 'categoryOption'}
    %label.control-label Description
    .controls
      = f.text_area :description
    %label.control-label Ingredients
    .controls
      = f.text_area :ingredients
    %label.control-label Directions
    .controls
      = f.text_area :direction
    %label.control-label Prep Time
    .controls
      = f.text_field :prep_time
    %label.control-label Cook Time
    .controls
      = f.text_field :cook_time
    %label.control-label Serving Number
    .controls
      = f.text_field :serving_number
    %label.control-label Upload Image
    .controls
      = f.file_field :upload_image
    %label.control-label Public Receipe
    .controls
      = f.check_box :public_receipe, {}, @dish.public_receipe, true
    %label.control-label Private Receipe
    .controls
      = f.check_box :private_receipe, {}, @dish.private_receipe, false
    %label.control-label Do you agree with terms and conditions
    .controls
      = f.check_box :terms,{}, @dish.terms, true
  / .control-group
  /   %label.control-label=t(:display_option)
  /   .controls
  /     %label.radio.inline
  /       = radio_button_tag 'course_configuration[display_content_type]', true, @course_configuration.display_content_type, class: 'bootstrap'
  /       = t(:yes_label)
  /     %label.radio.inline
  /       = radio_button_tag 'course_configuration[display_content_type]', false, !@course_configuration.display_content_type, class: 'bootstrap'
  /       = t(:no_label)
  .control-group
    .controls
      = f.submit 'Submit', class: 'btn btn-primary'
      / = link_to t(:cancel), chapters_admin_course_path(@course), class: 'btn btn-primary'
